name: Build 

on:
  push:
    branches:
      - '**'
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: rgbScanTest
            target: rgbScanTest
            uf2_path: build-rgbScanTest/test/rgbScanTest/rgbScanTest.uf2
          - name: hdmiTest
            target: hdmiTest
            uf2_path: build-hdmiTest/test/hdmiTest/hdmiTest.uf2
          - name: afeTest
            target: afeTest
            uf2_path: build-afeTest/test/afeTest/afeTest.uf2
          - name: keyboardTest
            target: keyboardTest
            uf2_path: build-keyboardTest/test/keyboardTest/keyboardTest.uf2
          - name: storageTest
            target: storageTest
            uf2_path: build-storageTest/test/storageTest/storageTest.uf2
          - name: securityTest
            target: securityTest
            uf2_path: build-securityTest/test/securityTest/securityTest.uf2
          - name: graphicsTest
            target: graphicsTest
            uf2_path: build-graphicsTest/test/graphicsTest/graphicsTest.uf2
          - name: spriteTest
            target: spriteTest
            uf2_path: build-spriteTest/test/spriteTest/spriteTest.uf2
          - name: guiTest
            target: guiTest
            uf2_path: build-guiTest/test/guiTest/guiTest.uf2
          - name: integrationTest
            target: integrationTest
            uf2_path: build-integrationTest/test/integrationTest/integrationTest.uf2
          - name: cmdParserTest
            target: cmdParserTest
            uf2_path: build-cmdParserTest/test/cmdParserTest/cmdParserTest.uf2
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build ${{ matrix.name }} using pico-sdk
        run: |
          docker run --rm \
          -v ${{ github.workspace }}:/home/dev \
          lukstep/raspberry-pi-pico-sdk:latest \
          /bin/sh -c \
          "cd /home/dev && mkdir build-${{ matrix.target }} && cd build-${{ matrix.target }} && cmake .. && make -j4 ${{ matrix.target }}"

      - name: Upload ${{ matrix.name }} binary
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}
          path: ${{ matrix.uf2_path }}
          if-no-files-found: warn

  build-main-executable:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build main executable using pico-sdk
        run: |
          docker run --rm \
          -v ${{ github.workspace }}:/home/dev \
          lukstep/raspberry-pi-pico-sdk:latest \
          /bin/sh -c \
          "cd /home/dev && mkdir build && cd build && cmake .. && make -j4"

      - name: Upload main executable build artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: main-executable-build
          path: build
          if-no-files-found: warn
  publish:
    needs:
      - build
      - build-main-executable
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Download binaries
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true
      
      - name: Install tools
        run: sudo apt-get install zip jq

      - name: Rename and Package binaries
        id: package
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          shopt -s nullglob
          cd artifacts
          zip -r -D ../pico-rgb2hdmi-$TAG_NAME.zip .
          echo "zip_file=pico-rgb2hdmi-$TAG_NAME.zip" >> $GITHUB_ENV

      - name: Get Release ID
        id: get_release
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          upload_url="https://api.github.com/repos/${{ github.repository }}/releases/tags/$TAG_NAME"
          RELEASE_ID=$(\
          curl \
          --silent \
          --show-error \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          "$upload_url" \
          | jq .id)
          echo "RELEASE_ID=$RELEASE_ID" >> $GITHUB_ENV

      - name: Upload Release Asset
        id: upload-release-asset 
        run: |
          upload_url="https://uploads.github.com/repos/${{ github.repository }}/releases/${{ env.RELEASE_ID }}/assets?name=$(basename "${{ env.zip_file }}")"
          curl \
            -X POST \
            -H "Authorization: Bearer ${{ secrets.PUBLIC_REPO_ACCESS_TOKEN }}" \
            -H "Content-Type: application/zip" \
            --data-binary @${{ env.zip_file }} \
            "$upload_url"
